/* This is a CSS file */
body {
    background-color: black;
}

header {
    background-color: rgb(40, 40, 40);
    height: 70px;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    display: block;
    text-align: center;
    margin: auto;
    padding: 10px;
}


.recipes {
    display: block;
    text-align: center;
    padding: 30px;
    margin: auto;
}

.recipes .recipeLink {
    display: inline-block;
    background-color: white;
    color: black;
    padding: 30px;
    border-radius: 10px;
}
.recipeLink:hover {
    padding: 50px;
}

.texts {
    color: white;
}

img {
    display: block;
    width: 800px;
    height: 450px;
    border-radius: 30px;
    margin: auto;
}